.footer{
    background-color: #000;
    overflow: hidden;
    padding: 10px 10px;
    color: aliceblue;
    position: sticky;
    top: 100%;
    margin-top: 30px;
}
p{
    font-size: 14px;
    color: aliceblue;
}
h1{
    font-weight: bold;
    font-size: 20px;
}
a{
    color: aliceblue;
    text-decoration: none;
    padding: 0px 5px;
    font-size: 17px;
}
 i{
    /*color: var(--primary-color); */
    padding: 0px 10px;
}
a:hover{
    color: var(--primary-color);
}